.workList-wrap{
    margin-left: 70px;
    margin-bottom: 20px;
    border: 3px solid gray;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.workList-titleContent{
    margin-left: 10px;
}

.workList-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.workList-btn button{
    background-color: #e7e7e7; 
    border: none;
    border-radius: 5px;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}